@model UserBanksViewModel

@{
    ViewData["Title"] = "Banks";
}

<head>
    <title>Banks</title>
</head>
<body>
<h2>My banks:</h2>
<ul>
    @foreach (var bankRole in Model.RegisteredBanks)
    {
        <li>
            <a asp-controller="Bank" asp-action="GetBankDetails" asp-route-bankId="@bankRole.BankId">
                @bankRole.Bank.Name
            </a> - <strong>@bankRole.Role</strong>
        </li>
    }
</ul>

<h2>Available banks:</h2>
<form method="post" asp-controller="Bank" asp-action="RegisterToBank">
    <ul>
        @foreach (var bank in Model.OtherBanks)
        {
            <li>
                @bank.Name
                <select name="SelectRole_@bank.Id">
                    @foreach (var role in Model.AvailableRoles)
                    {
                        <option value="@role">@role</option>
                    }
                </select>
                <button type="submit" name="bankId" value="@bank.Id">Register</button>
            </li>
        }
    </ul>
</form>
</body>
